@import "mixins";
@import "variables";
@import "text";

.bike {
  position: absolute;
  right: 0;
  top: 0;
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.bike__body {
  position: relative;
  z-index: 1;
  width: 110px;
  transform: translateX(-12px) rotate(-90deg);
  transform-origin: bottom right;
}

.bike__wheel {
  position: absolute;
  right: 0px;
  width: 66px;
}

.bike__wheel--front {
  bottom: -137px;
}

.bike__wheel--back {
  bottom: -32px;
}
