@import "mixins";
@import "variables";
@import "text";

.project {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: $line-width $color-grey solid;
  overflow: hidden;
  column-gap: 30px;
  cursor: pointer;
  @media (max-width: $breakpoint-tablet) {
    border: none;
    width: 100%;
  }
}

.project--border-top {
  border-top: $line-width $color-grey solid;
  @media (max-width: $breakpoint-tablet) {
    border: none;
  }
}

.project__number {
  position: relative;
  @media (max-width: $breakpoint-desktop-sm) {
    display: none;
  }
}

.project__number__text {
  position: absolute;
  top: 49.75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project__number__icon {
  stroke: $color-pink;
  stroke-width: $line-width-sm;
}

.project__content {
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin: 25px 0;
  @media (max-width: $breakpoint-desktop-sm) {
    flex-grow: 1;
  }
  @media (max-width: $breakpoint-tablet) {
    margin: 0;
    max-width: 90%;
  }
}

.project__title {
  padding: 20px 0;
  @media not all and (min-resolution: 0.001dpcm) {
    padding: 20px;
  }
  @media (max-width: $breakpoint-tablet) {
    padding: 0;
  }
}

.project__title--top {
  position: relative;
  width: 100%;
  z-index: 1;
  @media (max-width: $breakpoint-tablet) {
    opacity: 1 !important;
    transform: none !important;
  }
}

.project__title--bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.project__title__inner {
  line-height: 100%;
  @media (max-width: $breakpoint-desktop-sm) {
    line-height: 120%;
  }
}

.project__title__inner--filled {
  @include text-outline(transparent, $line-width-sm, $color-white);
  @media (max-width: $breakpoint-tablet) {
    @include text-outline($color-white, 1px, transparent);
  }
}

.project__title__inner--outlined {
  @include text-outline($color-white, $line-width-sm, transparent);
}

.project__line {
  position: relative;
  @include line-width(height);
  flex-grow: 1;
  overflow: hidden;
}

.project__line__inner {
  background-color: $color-grey;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @media not all and (min-resolution: 0.001dpcm) {
    right: 20px;
  }
  @media (max-width: $breakpoint-tablet) {
    @include text-outline($color-white, 1px, transparent);
  }
}

.project__arrow {
  stroke: $color-pink;
}

.project__arrow--dynamic {
  @include line-width(stroke-width);
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.project__arrow--static {
  display: none;
  @media (max-width: $breakpoint-tablet) {
    @include line-width(stroke-width);
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
