@import "mixins";
@import "variables";
@import "text";

.project {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: $line-width $color-black-light solid;
  overflow: hidden;
  column-gap: 30px;
  cursor: pointer;
  @media (max-width: $breakpoint-desktop-sm) {
    width: 100%;
  }
}

.project--border-top {
  border-top: $line-width $color-black-light solid;
}

.project__number {
  position: relative;
  @media (max-width: $breakpoint-desktop-sm) {
    display: none;
  }
}

.project__number__text {
  position: absolute;
  top: 49.75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project__number__icon {
  stroke: $color-pink;
  stroke-width: $line-width-sm;
}

.project__content {
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin: 25px 0;
  @media (max-width: $breakpoint-tablet) {
    margin: 5px 0;
  }
}

.project__title {
  padding: 20px 0;
  @media (max-width: $breakpoint-desktop-sm) {
    flex-basis: 100%;
  }
}

.project__title--top {
  position: relative;
  width: 100%;
  z-index: 1;
  @include text-outline(transparent, $line-width, $color-white);
  @media (max-width: $breakpoint-tablet) {
    opacity: 1 !important;
    transform: none !important;
  }
}

.project__title--bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  @media (max-width: $breakpoint-tablet) {
    opacity: 0 !important;
    transform: none !important;
  }
}

.project__title__inner {
  line-height: 100%;
  @media (max-width: $breakpoint-tablet) {
    line-height: 120%;
  }
}

.project__title__inner--filled {
  @include text-outline(transparent, $line-width-sm, $color-white);
}

.project__title__inner--outlined {
  @include text-outline($color-white, $line-width-sm, transparent);
}

.project__line {
  position: relative;
  height: $line-width;
  flex-grow: 1;
  overflow: hidden;
  @media (max-width: $breakpoint-desktop-sm) {
    display: none;
  }
}

.project__line__inner {
  background-color: $color-black-light;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.project__arrow {
  stroke: $color-pink;
  stroke-width: $line-width;
  @media (max-width: $breakpoint-desktop-sm) {
    display: none;
  }
}
