@import "mixins";
@import "variables";
@import "text";

.project {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: $line-width $color-white solid;
  overflow: hidden;
  column-gap: 30px;
  cursor: default;
}

.project--border-top {
  border-top: 1px $color-white solid;
}

.project__number__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project__number {
  position: relative;
}

.project__number__icon {
  stroke: $color-white;
  stroke-width: 2px;
}

.project__content {
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin: 25px 0;
  flex-grow: 1;
}

.project__title {
  padding: 20px 0;
}

.project__title--top {
  position: relative;
  width: 100%;
  z-index: 1;
  @include text-outline(transparent, 2px, $color-white);
}

.project__title--bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.project__title__inner {
  line-height: 100%;
}

.project__title__inner--filled {
  @include text-outline(transparent, 2px, $color-white);
}

.project__title__inner--outlined {
  @include text-outline($color-white, 2px, transparent);
}

.line {
  width: 80px;
  height: $line-width;
  background-color: $color-pink;
}
