<div class="project">
  <div class="project__number">
    <span class="p p--sm project__number__text"> {{ project.number }} </span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="42"
      height="42"
      viewBox="0 0 42 42"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-circle"
    >
      <circle
        #line
        class="project__number__icon"
        cx="21"
        cy="21"
        r="17.5"
      ></circle>
    </svg>
  </div>
  <div
    (mouseenter)="showOutlinedTitle()"
    (mouseleave)="showFilledTitle()"
    class="project__content"
  >
    <div #filled class="project__title project__title--top">
      <h3 class="h3 project__title__inner project__title__inner--filled">
        {{ project.heading }}
      </h3>
    </div>
    <div #outlined class="project__title project__title--bottom">
      <h3 class="h3 project__title__inner project__title__inner--outlined">
        {{ project.heading }}
      </h3>
      <app-button></app-button>
    </div>
  </div>
</div>
