@import "mixins";
@import "variables";
@import "text";

.footer {
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  @include spacing(padding-bottom, $sm: true);
  @include spacing(padding-bottom, $lg: true);
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__items {
  flex-grow: 1;
  max-width: $breakpoint-desktop-sm;
  display: flex;
  justify-content: space-between;
}

.footer__heading {
  @include spacing(padding-left, $sm: true);
}
