@import "mixins";
@import "variables";
@import "text";

.contact {
  @include section-spacing(padding-right, $horizontal: true);
  @include section-spacing(padding-left, $horizontal: true);
  @include section-spacing(padding-bottom, $vertical: true);
  display: flex;
  justify-content: space-between;
}

.contact__links {
  flex-basis: 90%;
  display: grid;
  gap: 20px;
}

.contact__title {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}
