<header data-scroll-section class="header">
  <div class="header__dim header__dim--left"></div>
  <div class="header__dim header__dim--right"></div>
  <div class="header__dim header__dim--top"></div>
  <div class="header__dim header__dim--bottom"></div>
  <div class="header__block header__block--top">
    <app-logo></app-logo>
    <app-name></app-name>
  </div>
  <div class="header__block header__block--middle">
    <h1
      data-scroll
      data-scroll-speed="-2"
      data-scroll-direction="horizontal"
      class="h1 header__title"
    >
      <div class="header__title__inner">
        Developer Developer Developer Developer Developer Developer Developer
        Developer
      </div>
    </h1>
    <h1
      data-scroll
      data-scroll-speed="2"
      data-scroll-direction="horizontal"
      class="h1 header__title"
    >
      <div class="header__title__inner">
        Creative Creative Creative Creative Creative Creative Creative
      </div>
    </h1>
    <h1
      data-scroll
      data-scroll-speed="-2"
      data-scroll-direction="horizontal"
      class="h1 header__title"
    >
      <div class="header__title__inner">
        Developer Developer Developer Developer Developer Developer Developer
        Developer
      </div>
    </h1>
    <h1
      data-scroll
      data-scroll-speed="2"
      data-scroll-direction="horizontal"
      class="h1 header__title"
    >
      <div class="header__title__inner">
        Creative Creative Creative
        <div class="header__word">
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >C</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >C</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >r</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >r</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >e</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >e</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >a</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >a</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >t</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >t</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >i</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >i</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >v</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >v</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >e</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >e</span
            >
          </div>
        </div>
        Creative Creative Creative
      </div>
    </h1>
    <h1
      data-scroll
      data-scroll-speed="-2"
      data-scroll-direction="horizontal"
      class="h1 header__title"
    >
      <div class="header__title__inner">
        Creative Creative Creative
        <div class="header__word">
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >D</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >D</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >e</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >e</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >v</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >v</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >e</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >e</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >l</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >l</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >o</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >o</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >p</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >p</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >e</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >e</span
            >
          </div>
          <div class="header__letter">
            <span class="header__letter__face header__letter__face--outlined"
              >r</span
            >
            <span class="header__letter__face header__letter__face--filled"
              >r</span
            >
          </div>
        </div>
        Creative Creative Creative
      </div>
    </h1>
    <h1
      data-scroll
      data-scroll-speed="2"
      data-scroll-direction="horizontal"
      class="h1 header__title"
    >
      <div class="header__title__inner">
        Creative Creative Creative Creative Creative Creative Creative
      </div>
    </h1>
    <h1
      data-scroll
      data-scroll-speed="-2"
      data-scroll-direction="horizontal"
      class="h1 header__title"
    >
      <div class="header__title__inner">
        Developer Developer Developer Developer Developer Developer Developer
        Developer
      </div>
    </h1>
    <h1
      data-scroll
      data-scroll-speed="2"
      data-scroll-direction="horizontal"
      class="h1 header__title"
    >
      <div class="header__title__inner">
        Creative Creative Creative Creative Creative Creative Creative
      </div>
    </h1>
  </div>
  <div class="header__block header__block--bottom">
    <app-scroll-notice></app-scroll-notice>
  </div>
</header>
