@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/text.scss";
@import "../../../../assets/styles/mixins.scss";

.header {
  @include section-spacing(margin-bottom, $vertical: true);
  height: 100vh;
  max-height: 900px;
  position: relative;
  overflow: hidden;
  opacity: 0;
}

.header__block {
  opacity: 0;
}

.header__block--top {
  @include section-spacing(top, $horizontal: true);
  @include section-spacing(left, $horizontal: true);
  @include section-spacing(right, $horizontal: true);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block--middle {
  position: absolute;
  top: 50%;
  left: -500vw;
  right: -500vw;
  transform: translateY(-48%);
  text-align: center;
}

.header__title {
  cursor: default;
  transform-origin: center;
  $perspective: 400px;
  $outer-still: 64deg;
  $outer: 32deg;
  $inner: 16deg;
  $middle: 8deg;
  $outer-translate: 5px;
  $outer-still-translate: 50px;
  &:nth-child(1) {
    .header__title__inner {
      transform: perspective($perspective) rotateX($outer-still)
        translateY($outer-still-translate);
    }
  }
  &:nth-child(2) {
    .header__title__inner {
      transform: perspective($perspective) rotateX($outer)
        translateY($outer-translate);
    }
  }
  &:nth-child(3) {
    .header__title__inner {
      transform: perspective($perspective) rotateX($inner);
    }
  }
  &:nth-child(4) {
    .header__title__inner {
      transform: perspective($perspective) rotateX($middle);
    }
  }
  &:nth-child(5) {
    .header__title__inner {
      transform: perspective($perspective) rotateX(-$middle);
    }
  }
  &:nth-child(6) {
    .header__title__inner {
      transform: perspective($perspective) rotateX(-$inner);
    }
  }
  &:nth-child(7) {
    .header__title__inner {
      transform: perspective($perspective) rotateX(-$outer)
        translateY(-$outer-translate);
    }
  }
  &:nth-child(8) {
    .header__title__inner {
      transform: perspective($perspective) rotateX(-$outer-still)
        translateY(-$outer-still-translate);
    }
  }
}

.header__word {
  display: inline-flex;
}

.header__letter {
  position: relative;
  overflow: hidden;
}

.header__letter__face {
  display: inline-block;
  padding: 0 1px;
}

.header__letter__face--outlined {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__block--bottom {
  @include section-spacing(bottom, $horizontal: true);
  @include section-spacing(left, $horizontal: true);
  @include section-spacing(right, $horizontal: true);
  position: absolute;
  text-align: center;
}

.header__dim {
  position: absolute;
  z-index: 6;
  opacity: 1;
  pointer-events: none;
}

.header__dim--left {
  top: 0;
  bottom: 0;
  width: 20%;
  left: 0;
  background: linear-gradient(
    90deg,
    transparentize($color: $color-black, $amount: 0) 0%,
    transparentize($color: $color-black, $amount: 1) 100%
  );
}

.header__dim--right {
  top: 0;
  bottom: 0;
  width: 20%;
  right: 0;
  background: linear-gradient(
    90deg,
    transparentize($color: $color-black, $amount: 1) 0%,
    transparentize($color: $color-black, $amount: 0) 100%
  );
}

.header__dim--top {
  top: 0;
  height: 45%;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    transparentize($color: $color-black, $amount: 0) 15%,
    transparentize($color: $color-black, $amount: 1) 100%
  );
}

.header__dim--bottom {
  bottom: 0;
  height: 45%;
  left: 0;
  right: 0;
  transform-origin: center;
  transform: rotate(180deg);
  background: linear-gradient(
    180deg,
    transparentize($color: $color-black, $amount: 0) 15%,
    transparentize($color: $color-black, $amount: 1) 100%
  );
}

.header__mask {
  position: absolute;
  display: none;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  bottom: 0;
  left: 0;
  background: transparentize($color: $color-black, $amount: 0.5);
  pointer-events: none;
}
