@import "mixins";
@import "variables";
@import "text";

.header {
  @include section-spacing(margin-bottom, $vertical: true);
  height: 100vh;
  max-height: 900px;
  position: relative;
  overflow: hidden;
}

.header__mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color-black;
  z-index: 100;
}

.header__block--top {
  @include section-spacing(top, $horizontal: true);
  @include section-spacing(left, $horizontal: true);
  @include section-spacing(right, $horizontal: true);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block--middle {
  position: absolute;
  top: 50%;
  left: -500vw;
  right: -500vw;
  transform: translateY(-48%);
  text-align: center;
}

.header__block--bottom {
  @include section-spacing(bottom, $horizontal: true);
  @include section-spacing(left, $horizontal: true);
  @include section-spacing(right, $horizontal: true);
  position: absolute;
  text-align: center;
}
