<header data-scroll-section class="header">
  <div class="header__dim header__dim--left"></div>
  <div class="header__dim header__dim--right"></div>
  <div class="header__dim header__dim--top"></div>
  <div class="header__dim header__dim--bottom"></div>
  <div class="header__block header__block--top">
    <app-logo (elementEmitter)="logoBg = $event"></app-logo>
    <app-name
      (nameRefEmitter)="nameText = $event"
      (lineRefEmitter)="nameLine = $event"
    ></app-name>
  </div>
  <div class="header__block header__block--middle">
    <app-header-line-slide
      (textLinesEmitter)="textLines = $event"
      (filledFacesEmitter)="filledFaces = $event"
      (outlinedFacesEmitter)="outlinedFaces = $event"
    ></app-header-line-slide>
  </div>
  <div class="header__block header__block--bottom">
    <app-scroll-notice></app-scroll-notice>
  </div>
</header>
