@import "mixins";
@import "variables";
@import "text";

.header {
  @include spacing(margin-bottom, $lg: true);
  height: 100vh;
  max-height: 900px;
  position: relative;
  overflow: hidden;
  @media (max-width: $breakpoint-tablet) {
    height: 90vh;
  }
}

.header__mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color-black;
  z-index: 100;
}

.header__block--top {
  @include spacing(top, $sm: true);
  @include spacing(left, $sm: true);
  @include spacing(right, $sm: true);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block--middle {
  position: absolute;
  top: 50%;
  left: -500vw;
  right: -500vw;
  transform: translateY(-48%);
  text-align: center;
}

.header__block--bottom {
  @include spacing(bottom, $sm: true);
  @include spacing(left, $sm: true);
  @include spacing(right, $sm: true);
  position: absolute;
  text-align: center;
}
