<header data-scroll-section class="header">
  <div class="header__dim header__dim--left"></div>
  <div class="header__dim header__dim--right"></div>
  <div class="header__dim header__dim--top"></div>
  <div class="header__dim header__dim--bottom"></div>
  <div #headerMask class="header__mask"></div>
  <div class="header__block header__block--top">
    <app-logo (bgEmitter)="logoBg = $event"></app-logo>
    <app-name
      (textEmitter)="nameText = $event"
      (lineEmitter)="nameLine = $event"
    ></app-name>
  </div>
  <div class="header__block header__block--middle">
    <app-header-line-slide
      (linesEmitter)="textLines = $event"
      (filledFacesEmitter)="textFilledFaces = $event"
      (outlinedFacesEmitter)="textOutlinedFaces = $event"
    ></app-header-line-slide>
  </div>
  <div class="header__block header__block--bottom">
    <app-scroll-notice
      (textEmitter)="scrollText = $event"
      (iconEmitter)="scrollIcon = $event"
    ></app-scroll-notice>
  </div>
</header>
