@import "mixins";
@import "variables";
@import "text";

.contact {
  cursor: pointer;
}

.contact__top {
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-bottom: 5px;
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 0;
  }
}

.contact__title {
  padding: 20px 0;
}

.contact__title--top {
  position: relative;
  width: 100%;
  z-index: 1;
  @include text-outline(transparent, $line-width, $color-white);
  @media (max-width: $breakpoint-tablet) {
    transform: none !important;
    opacity: 1 !important;
  }
}

.contact__title--bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.contact__title__inner {
  line-height: 100%;
}

.contact__title__inner--filled {
  @include text-outline(transparent, $line-width-sm, $color-white);
}

.contact__title__inner--outlined {
  @include text-outline($color-white, $line-width-sm, transparent);
}

.contact__bottom {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 14px;
}

.contact__bottom__line {
  position: absolute;
  @include line-width(height);
  bottom: 0;
  left: 0;
  right: 0;
}

.contact__bottom__line--pink {
  background-color: $color-pink;
  z-index: 1;
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.contact__bottom__line--black {
  background-color: $color-grey;
  z-index: 0;
}
