@import "mixins";
@import "variables";
@import "text";

.logo {
  position: relative;
  z-index: 8;
  width: 64px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  background-color: $color-black;
}

.logo__text {
  position: relative;
  z-index: 2;
  color: $color-black;
  line-height: 100%;
  transform: translateY(3px);
  font-size: 30px;
  line-height: 100%;
  font-family: "Druk Text Wide Super";
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  pointer-events: none;
}

.logo__bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  background-color: $color-white;
}
