@import "mixins";
@import "variables";
@import "text";

@mixin logo-size($height) {
  height: $height;
  width: $height * 1.15;
  font-size: $height * 0.55;
}

.logo {
  position: relative;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.logo--sm {
  @include logo-size(54px);
}

.logo--lg {
  @include logo-size(100px);
}

.logo__text {
  position: relative;
  z-index: 2;
  color: $color-black;
  line-height: 100%;
  line-height: 100%;
  font-family: "Druk Text Wide Super";
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  pointer-events: none;
  transform: translateY(10%);
}

.logo__bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-white;
}

.logo__bg--dynamic {
  transform: translateY(100%);
}

.logo__bg--static {
  transform: none;
}
