<h1
  data-scroll
  data-scroll-speed="-2"
  data-scroll-direction="horizontal"
  class="h1 header__title"
  #line
>
  <div class="header__title__inner header__title__inner--one">
    <ng-container *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7]">
      Developer
    </ng-container>
  </div>
</h1>
<h1
  data-scroll
  data-scroll-speed="2"
  data-scroll-direction="horizontal"
  class="h1 header__title"
  #line
>
  <div class="header__title__inner header__title__inner--two">
    <ng-container *ngFor="let number of [0, 1, 2, 3, 4, 5, 6]">
      Creative
    </ng-container>
  </div>
</h1>
<h1
  data-scroll
  data-scroll-speed="-2"
  data-scroll-direction="horizontal"
  class="h1 header__title"
  #line
>
  <div class="header__title__inner header__title__inner--three">
    <ng-container *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7]">
      Developer
    </ng-container>
  </div>
</h1>
<h1
  data-scroll
  data-scroll-speed="2"
  data-scroll-direction="horizontal"
  class="h1 header__title"
  #line
>
  <div class="header__title__inner header__title__inner--four">
    <ng-container *ngFor="let number of [0, 1, 2]">Creative </ng-container>
    <div class="header__word">
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >C</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >C</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >r</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >r</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >e</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >e</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >a</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >a</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >t</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >t</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >i</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >i</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >v</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >v</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >e</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >e</span
        >
      </div>
    </div>
    <ng-container *ngFor="let number of [0, 1, 2]"> Creative </ng-container>
  </div>
</h1>
<h1
  data-scroll
  data-scroll-speed="-2"
  data-scroll-direction="horizontal"
  class="h1 header__title"
  #line
>
  <div class="header__title__inner header__title__inner--five">
    <ng-container *ngFor="let number of [0, 1, 2]"> Creative </ng-container>
    <div class="header__word">
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >D</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >D</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >e</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >e</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >v</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >v</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >e</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >e</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >l</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >l</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >o</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >o</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >p</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >p</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >e</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >e</span
        >
      </div>
      <div class="header__letter">
        <span
          class="header__letter__face header__letter__face--outlined"
          #outlinedFace
          >r</span
        >
        <span
          class="header__letter__face header__letter__face--filled"
          #filledFace
          >r</span
        >
      </div>
    </div>
    <ng-container *ngFor="let number of [0, 1, 2]"> Creative </ng-container>
  </div>
</h1>
<h1
  data-scroll
  data-scroll-speed="2"
  data-scroll-direction="horizontal"
  class="h1 header__title"
  #line
>
  <div class="header__title__inner header__title__inner--six">
    <ng-container *ngFor="let number of [0, 1, 2, 3, 4, 5, 6]">
      Creative
    </ng-container>
  </div>
</h1>
<h1
  data-scroll
  data-scroll-speed="-2"
  data-scroll-direction="horizontal"
  class="h1 header__title"
  #line
>
  <div class="header__title__inner header__title__inner--seven">
    <ng-container *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7]">
      Developer
    </ng-container>
  </div>
</h1>
<h1
  data-scroll
  data-scroll-speed="2"
  data-scroll-direction="horizontal"
  class="h1 header__title"
  #line
>
  <div class="header__title__inner header__title__inner--eight">
    <ng-container *ngFor="let number of [0, 1, 2, 3, 4, 5, 6]">
      Creative
    </ng-container>
  </div>
</h1>
