@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/text.scss";
@import "../../../../assets/styles/mixins.scss";

.name {
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.name__line {
  background-color: $color-pink;
  height: $line-width;
  transform: translateX(-100%);
}
