@import "mixins";
@import "variables";
@import "text";

.about {
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-bottom, $sm: true);
  @include spacing(margin-bottom, $lg: true);
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.about__title {
  @include spacing(margin-bottom, $sm: true);
  display: inline-block;
}

.about__text {
  width: 1100px;
  @media (max-width: $breakpoint-desktop-sm) {
    width: 80%;
  }
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    @include spacing(padding-right, $sm: true);
  }
}

.about__text__p--last {
  margin-top: 50px;
}

.work {
  display: flex;
  align-items: flex-start;
  column-gap: 75px;
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  @include spacing(padding-bottom, $sm: true);
  @include spacing(margin-bottom, $lg: true);
  @media (max-width: $breakpoint-desktop-sm) {
    flex-direction: column;
    row-gap: 40px;
  }
}

.work__projects {
  flex-grow: 1;
  @media (max-width: $breakpoint-desktop-sm) {
    flex-grow: auto;
    width: 100%;
  }
}

.footer {
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  @include spacing(padding-bottom, $lg: true);
}

.footer__items {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 100px;
  @media (max-width: $breakpoint-desktop-lg) {
    max-width: none;
    row-gap: 50px;
  }
}

.footer__items__item {
  @media (max-width: $breakpoint-tablet) {
    flex-basis: 100%;
  }
  &:last-child {
    flex-basis: 100%;
  }
}
