@import "mixins";
@import "variables";
@import "text";

.work {
  display: flex;
  align-items: flex-start;
  @include heading-margin(column-gap);
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  @include spacing(padding-bottom, $sm: true);
  @include spacing(margin-bottom, $lg: true);
  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    @include heading-margin(row-gap);
  }
}

.work__projects {
  flex-grow: 1;
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}

.about {
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-bottom, $sm: true);
  @include spacing(margin-bottom, $lg: true);
  position: relative;
  display: flex;
  flex-direction: column;
}

.about__text {
  @include heading-margin(margin-top);
  @include heading-margin(row-gap);
  display: flex;
  flex-direction: column;
  width: 1100px;
  @media (max-width: $breakpoint-desktop-sm) {
    width: 80%;
  }
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    @include spacing(padding-right, $sm: true);
    row-gap: 30px;
  }
}

.footer {
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  @include spacing(padding-bottom, $lg: true);
}

.footer__items {
  @include heading-margin(margin-top);
  @include heading-margin(row-gap);
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: $breakpoint-tablet) {
    row-gap: 30px;
  }
}

.footer__items__item {
  @media (max-width: $breakpoint-tablet) {
    flex-basis: 100%;
  }
  &:last-child {
    flex-basis: 100%;
  }
}
