<div #blah class="scrollContainer" data-scroll-container>
  <!-- <app-header></app-header> -->
  <main>
    <app-work [heading]="work.heading" [projects]="work.projects"></app-work>
    <app-work
      [heading]="personal.heading"
      [projects]="personal.projects"
    ></app-work>
    <div #blah2>
      <app-about (wheelsEmitter)="bikeWheels = $event"></app-about>
    </div>
  </main>
  <app-footer
    [heading]="footer.heading"
    [contactItems]="footer.contactItems"
  ></app-footer>
</div>
