<div #container class="scrollContainer" data-scroll-container>
  <app-header></app-header>
  <main>
    <section data-scroll-section class="work">
      <app-heading
        [heading]="data.work.heading"
        (lineEmitter)="workLine = $event"
      ></app-heading>
      <div class="work__projects">
        <app-project
          *ngFor="let project of data.work.projects"
          [project]="project"
        ></app-project>
      </div>
    </section>
    <section data-scroll-section class="work">
      <app-heading
        [heading]="data.personal.heading"
        (lineEmitter)="personalLine = $event"
      ></app-heading>
      <div class="work__projects">
        <app-project
          *ngFor="let project of data.personal.projects"
          [project]="project"
        ></app-project>
      </div>
    </section>
    <section class="about" data-scroll-section #about>
      <app-heading
        heading="about me"
        [xAxis]="true"
        (lineEmitter)="aboutLine = $event"
      ></app-heading>
      <div class="about__text">
        <p class="p p--lg about__text__p">
          hi, i'm matt. i'm a front end developer with a passion for animation,
          interaction and creative design. i'm based in london, working at
          wiser.
        </p>
        <p class="p p--lg about__text__p about__text__p--last">
          there's me on my bike.
        </p>
      </div>
      <app-bike
        (bikeEmitter)="bike = $event"
        (bikeWheelsEmitter)="bikeWheels = $event"
      ></app-bike>
    </section>
  </main>
  <footer data-scroll-section class="footer">
    <div class="footer__items">
      <app-contact
        *ngFor="let item of data.footer.contactItems"
        [contact]="item"
      ></app-contact>
    </div>
    <app-heading
      class="footer__heading"
      heading="get in touch"
      (lineEmitter)="footerLine = $event"
    ></app-heading>
  </footer>
</div>
