<div #container class="scrollContainer" data-scroll-container>
  <!-- <app-header></app-header> -->
  <main>
    <app-work
      [heading]="data.work.heading"
      [projects]="data.work.projects"
    ></app-work>
    <app-work
      [heading]="data.personal.heading"
      [projects]="data.personal.projects"
    ></app-work>
    <div #about>
      <app-about
        (bikeEmitter)="bike = $event"
        (wheelsEmitter)="bikeWheels = $event"
      ></app-about>
    </div>
  </main>
  <app-footer
    [heading]="data.footer.heading"
    [contactItems]="data.footer.contactItems"
  ></app-footer>
</div>
