@import "mixins";
@import "variables";
@import "text";

.button {
  position: relative;
  display: inline-block;
  padding: 12px 15px;
  cursor: pointer;
  background-color: $color-white;
  overflow: hidden;
}

.button__text {
  position: relative;
  z-index: 1;
  color: $color-black;
}

.button__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-pink;
}
