@import "mixins";
@import "variables";
@import "text";

.work {
  display: flex;
  align-items: flex-start;
  column-gap: 75px;
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  @include spacing(padding-bottom, $sm: true);
  @include spacing(margin-bottom, $lg: true);
}

.work__projects {
  flex-grow: 1;
}
