@import "mixins";
@import "variables";
@import "text";

.work {
  display: flex;
  align-items: flex-start;
  column-gap: 75px;
  @include section-spacing(padding-left, $horizontal: true);
  @include section-spacing(padding-right, $horizontal: true);
  @include section-spacing(padding-bottom, $horizontal: true);
  @include section-spacing(margin-bottom, $vertical: true);
}

.work__projects {
  flex-grow: 1;
}
