@import "mixins";
@import "variables";
@import "text";

$padding: $line-width * 1.5;

.heading {
  position: relative;
  display: inline-block;
  z-index: 10;
  overflow: hidden;
}

.heading__text--x {
  padding-bottom: $padding;
}

.heading__text--y {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  padding-left: $padding;
  @media (max-width: $breakpoint-tablet) {
    writing-mode: initial;
    text-orientation: initial;
    padding-left: 0;
    padding-bottom: $padding;
  }
}

.heading__line {
  position: absolute;
  bottom: 0;
}

.heading__line--pink {
  background-color: $color-pink;
}

.heading__line--black {
  background-color: $color-grey;
  z-index: -1;
}

.heading__line--y {
  @include line-width(width);
  top: 0;
  bottom: 0;
  left: 0;
  @media (max-width: $breakpoint-tablet) {
    @include line-width(height);
    width: auto;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.heading__line--x {
  @include line-width(height);
  bottom: 0;
  left: 0;
  right: 0;
}
