<div class="heading">
  <h2
    #headingRef
    [ngClass]="xAxis ? 'heading__text--x' : 'heading__text--y'"
    class="h2 heading__text"
  >
    {{ heading }}
  </h2>
  <div
    *ngIf="animateFromParent"
    #lineRef
    [ngClass]="xAxis ? 'heading__line--x' : 'heading__line--y'"
    class="h2 heading__line"
  ></div>
  <div
    *ngIf="animateScrollX"
    #lineRef
    [ngClass]="xAxis ? 'heading__line--x' : 'heading__line--y'"
    data-scroll
    data-scroll-speed="-4"
    data-scroll-direction="horizontal"
    class="h2 heading__line"
  ></div>
  <div
    *ngIf="animateScrollY"
    #lineRef
    [ngClass]="xAxis ? 'heading__line--x' : 'heading__line--y'"
    data-scroll
    data-scroll-speed="-4"
    data-scroll-direction="vertical"
    class="h2 heading__line"
  ></div>
</div>
