@import "mixins";
@import "variables";
@import "text";

$padding: $line-width * 2;

.heading {
  position: relative;
  display: inline-block;
  z-index: 10;
  overflow: hidden;
}

.heading__text--x {
  padding-bottom: $padding;
}

.heading__text--y {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  padding-left: $padding;
}

.heading__line {
  position: absolute;
  background-color: $color-pink;
  bottom: 0;
}

.heading__line--y {
  width: $line-width;
  top: 0;
  bottom: 0;
  left: 0;
}

.heading__line--x {
  height: $line-width;
  bottom: 0;
  left: 0;
  right: 0;
}
