<div class="heading">
  <h2
    #headingRef
    [ngClass]="xAxis ? 'heading__text--horizontal' : 'heading__text--vertical'"
    class="h2 heading__text"
  >
    {{ heading }}
  </h2>
  <div
    *ngIf="animateFromParent"
    #lineRef
    [ngClass]="xAxis ? 'heading__line--horizontal' : 'heading__line--vertical'"
    class="h2 heading__line"
  ></div>
  <div
    *ngIf="animateScrollHorizontal"
    #lineRef
    [ngClass]="xAxis ? 'heading__line--horizontal' : 'heading__line--vertical'"
    data-scroll
    data-scroll-speed="-4"
    data-scroll-direction="horizontal"
    class="h2 heading__line"
  ></div>
  <div
    *ngIf="animateScrollVertical"
    #lineRef
    [ngClass]="xAxis ? 'heading__line--horizontal' : 'heading__line--vertical'"
    data-scroll
    data-scroll-speed="-4"
    data-scroll-direction="vertical"
    class="h2 heading__line"
  ></div>
</div>
