<div
  data-scroll
  data-scroll-speed="3"
  data-scroll-direction="vertical"
  class="wrapper"
>
  <div class="atom">
    <div class="orbit">
      <div class="path">
        <div class="electron"></div>
      </div>
    </div>
    <div class="orbit">
      <div class="path">
        <div class="electron"></div>
      </div>
    </div>
    <div class="orbit">
      <div class="path">
        <div class="electron"></div>
      </div>
    </div>
    <div class="orbit">
      <div class="path">
        <div class="electron"></div>
      </div>
    </div>
  </div>
  <app-logo class="logo" [orbit]="true"></app-logo>
</div>
