@import "mixins";
@import "variables";
@import "text";

$width: 500px;

.wrapper {
  position: relative;
}

.atom {
  position: relative;
  width: $width;
  height: $width;
  perspective: 1000;
  transform-style: preserve-3d;
}

// .nucleus {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100px;
//   height: 100px;
//   background: $color-white;
//   color: $color-black;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.orbit {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: $width;
  height: $width;
  border-radius: $width;
  border: 5px solid $color-black-light;
  transform-style: preserve-3d;
  transform: rotateX(80deg) rotateY(20deg);
}

.orbit:nth-child(2) {
  transform: rotateX(80deg) rotateY(70deg);
}
.orbit:nth-child(3) {
  transform: rotateX(80deg) rotateY(-20deg);
}
.orbit:nth-child(4) {
  transform: rotateX(80deg) rotateY(-50deg);
}

.path {
  z-index: 0;
  width: $width;
  height: $width;
  position: relative;
  transform-style: preserve-3d;
}

.electron {
  z-index: 0;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: $color-pink;
}

.logo {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
