/* You can add global styles to this file, and also import other style files */
@import "~locomotive-scroll/dist/locomotive-scroll.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:nth-child(even) {
    background: red;
    border: 2px blue solid;
  }
  &:nth-child(odd) {
    background: black;
    border: 2px green solid;
  }
}

span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 100px;
  color: white;
}
