@import "~locomotive-scroll/dist/locomotive-scroll.css";
@import "../src/assets/styles/fonts.scss";
@import "../src/assets/styles/variables.scss";
@import "../src/assets/styles/mixins.scss";
@import "../src/assets/styles/text.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: $color-black;
  color: $color-white;
  font-family: "Druk Text Wide";
}

header,
main,
footer {
  max-width: $breakpoint-max;
  margin: 0 auto;
}
