@mixin max-width {
  max-width: $breakpoint-max;
  margin: 0 auto;
  height: 100%;
}

@mixin spacing($property, $lg: false, $sm: false) {
  @if $lg {
    #{$property}: 175px;
    @media (max-width: $breakpoint-desktop-lg) {
      #{$property}: 150px;
    }
    @media (max-width: $breakpoint-tablet) {
      #{$property}: 60px;
    }
  }
  @if $sm {
    #{$property}: 75px;
    @media (max-width: $breakpoint-desktop-lg) {
      #{$property}: 50px;
    }
    @media (max-width: $breakpoint-tablet) {
      #{$property}: 20px;
    }
  }
}

@mixin line-width($property) {
  #{$property}: $line-width;
  @media (max-width: $breakpoint-tablet) {
    #{$property}: $line-width-sm;
  }
}

@mixin heading-margin($property) {
  #{$property}: 70px;
  @media (max-width: $breakpoint-tablet) {
    #{$property}: 40px;
  }
}

@mixin text-outline($outline-color, $outline-width, $fill-color) {
  -webkit-text-stroke-color: $outline-color;
  -webkit-text-stroke-width: $outline-width;
  -webkit-text-fill-color: $fill-color;
}
