.h1 {
  font-size: 75px;
  line-height: 105%;
  font-family: "Druk Text Wide Super";
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  @media (max-width: $breakpoint-tablet) {
    font-size: 30px;
  }
}

.h2 {
  position: relative;
  font-size: 18px;
  line-height: 150%;
  font-family: "Druk Text Wide";
  font-weight: bold;
  font-style: normal;
  overflow: hidden;
  @media (max-width: $breakpoint-tablet) {
    font-size: 15px;
  }
}

.h3 {
  font-size: 45px;
  line-height: 120%;
  font-family: "Druk Text Wide Super";
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  @media (max-width: $breakpoint-tablet) {
    font-size: 24px;
  }
}

.p {
  line-height: 145%;
  font-family: "Druk Text Wide";
  font-weight: 500;
  font-style: normal;
}

.p--sm {
  font-size: 12px;
}

.p--md {
  font-size: 16px;
  @media (max-width: $breakpoint-tablet) {
    font-size: 15px;
  }
}

.p--lg {
  font-size: 65px;
  @media (max-width: $breakpoint-tablet) {
    font-size: 30px;
  }
}
