@import "mixins";
@import "variables";
@import "text";

.about {
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-bottom, $sm: true);
  @include spacing(margin-bottom, $lg: true);
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.about__title {
  @include spacing(margin-bottom, $sm: true);
  display: inline-block;
}

.about__text {
  width: 950px;
}

.about__text__p--last {
  margin-top: 50px;
}

.about__bike {
  position: absolute;
  width: 150px;
  top: 10%;
  right: 0;
}

.about__bike__image {
  width: 150px;
  transform: rotate(-90deg);
  transform-origin: bottom right;
}
