<section data-scroll-section class="about">
  <app-heading
    heading="about me"
    [xAxis]="true"
    [animateXOnScroll]="true"
  ></app-heading>
  <div class="about__text">
    <p class="p p--lg about__text__p">
      hi, i'm matt. i'm a front end developer with a passion for animation,
      interaction and creative design. i'm based in london, working at wiser.
    </p>
    <p class="p p--lg about__text__p about__text__p--last">
      there's me on my bike.
    </p>
  </div>
  <div #bike class="bike">
    <div #wheel class="bike__wheel"></div>
    <div #wheel class="bike__wheel"></div>
  </div>
</section>
